@import "../../node_modules/bootstrap/scss/bootstrap";

.expenses-icon {
  width: 50%;
}

.header {
  background-color: #a4c991;
  padding: 10px 20px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-margin,
.radio-margin {
  margin-left: 1%;
}

.modal-btn-left,
.btn-logout {
  margin-left: 3px;
}